.content{
    padding-top: 20px !important;
}

.slikaZaposlenog {
    border-radius: 100%;
    height: 200px !important;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.plata-forma-wrapper {
    padding:10% !important;
}

.zakazivanje-button-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px !important;
    margin-bottom: 10px;
}

.datum-kartica {
    width: 50%;
    margin: 0 !important;
    background-color: #B51B75;
}

.datum-kartica h2 {
    font-size: 40px;
}

.datum-kartica-wrapper {
    padding: 0 !important;
}