/*kartice*/
.slika {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 0%;
}

.pozadina{
  height: 100%;
  border-radius: 40px;
  width: 100%;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  margin: 0 !important;
}

.proizvod {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 7000;
  background-color: rgba(0, 0, 0, 0.308);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10%;
}

.proizvod-content {
  border-radius: 40px;
  width: 950px; /* Fiksna širina */
  height: 500px; /* Fiksna visina */
  display: flex;
  padding: 0 !important;
  bottom: 2%;
  overflow: hidden;
}

article {
    --img-scale: 1.001;
    --title-color: black;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }
  
  article a:focus {
    outline: 1px dotted #28666e;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #28666e;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
 
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }

  /*ocena i cena*/
  .ocena-i-cena {
    border-collapse: separate;
    border-spacing: 15px;
  }

  .ocena-i-cena td {
    padding: 10px;
    color: black !important;
    border-style: dashed;
    border-width: 2px;
    border-color: black;
    border-radius: 100px;
  }

  .ocena-i-cena td h3{
    font-size: 15px;
    font-weight: none !important;
  }

  .kartice-proizvoda {
    background-color: whitesmoke;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 0;
  }

  .ocena-i-cena-dugmici {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .iks {
    position: absolute;
    right: 5%;
    top: 2%;
    z-index: 3000;
    color: rgb(0, 0, 0);
  }

  .iks:hover {
    transform: scale(1.5);
    color: rgb(0, 0, 0);
  }

  .love {
    position: absolute;
    left: 5%;
    top: 2%;
    z-index: 3000;
    color: rgb(0, 0, 0);
  }

  .love:hover {
    transform: scale(1.5);
    color: rgb(0, 0, 0);
  }
  
  .iks-novi {
    position: absolute;
    right: 20%;
    top: 23%;
    z-index: 9000;
    color: rgb(0, 0, 0);
  }

  .iks-novi:hover {
    transform: scale(1.5);
    color: rgb(0, 0, 0);
  }

  .submit-wrapper {
    justify-content: center;
  }